@model BooksCatalog.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(item => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(item => Model.Name)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
