@model IEnumerable<BooksCatalog.Models.Book>

<h1></h1>

<table>
    <tr>
        <td>Name</td>
        <td>Author</td>
        <td>Genre</td>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@Html.DisplayFor(i => book.Name)</td>
            <td>@Html.DisplayFor(i => book.Author.FullName)</td>
            <td>@Html.DisplayFor(i => book.Genre.Name)</td>
        </tr>
    }
</table>
